*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Header {
    display: flex;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 999; 
    background-color: white; 
}
body {
    padding-top: 140px; 
}
.left-content{
    padding: 10px;
    width: 370px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header-side-2, .header-side-1{
    display: flex;
}
.logo{
    margin-top: -26px;
    margin-right: 150px;
}
.bar{
    font-size: 30px;
    margin: 15px 0px 10px 30px;
    padding: 16px;
    color: rgb(84, 83, 83);
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.bar:hover{
    background-color: #f1eeee;
}
#search-bar{
    font-size: 23px;
    margin: 13px 0px 10px;
    padding: 16px;
    width: 800px;
    border: 1px solid #bbb;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.search-btn{
    height: 61px;
    width: 100px;
    margin: 13px -5px;
    background-color: #f8f3f3;
    border: 1px solid #bbb;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
.search-btn i{
    font-size: 30px;
}
.mic{
    margin: 13px 170px 10px 30px;
    width: 57px;
    height: 57px;
    font-size: 25px;
    border-radius: 50%;
    background-color: #f0eeee;
    border: none;
}
.header-side-3{
    display: flex;
    margin-top: 30px;
}

.create, .bell{
    cursor: pointer;
}
.create{
    margin: 12px;
}
.video{
    height: 60px;
    width: 60px;
    margin-top: -16px;
    border-radius: 50%;
}
.video:hover{
    background-color: #f1eeee;
}
.bell{
    font-size: 33px;
    margin: -15px 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 16px;
}
.bell:hover{
    background-color: #f1eeee;
}
.header-side-3 .span img{
    height: 57px;
    width: 57px;
    border-radius: 50%;
    margin: -10px 20px 0px 10px;
    cursor: pointer;
}
.left-right-nav{
    display: flex;
}
.home{
    margin: -15px 20px;
    padding: 10px 15px;
    display: flex;
    border-radius: 15px;
}
.home p{
    margin-top: 13px;
    margin-left: 42px;
    font-size: 22px;
}
.left-para{
    margin-top: 13px;
    margin-left: 35px;
    font-size: 22px;
}
.home i{
    font-size: 35px;
}
.home:hover{
    width: 230px;
    background-color: #f1eeee;
}
.shorts{
    margin: 10px 20px;
    padding: 10px;
    display: flex;
    border-radius: 15px;
}
.shorts:hover{
    width: 230px;
    background-color: #f1eeee;
}
.subscription{
    display: flex;
    margin-bottom: 20px;
    margin-left: -10px;
    padding: 10px;
    border-radius: 15px;
}

.subscription img{
    margin: -20px 25px 0px
}
.subscription p{
    margin-top: -5px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 22px;
}
.subscription:hover{
    width: 230px;
    background-color: #f1eeee;
}
.YOU{
    display: flex;
}
.you i{
    font-size: 35px;
    margin: 27px -10px;
}
.head{
    margin: 30px 30px 0px;
    font-size: 25px;
    font-weight: bold;
}
.history, .watch-later, .liked-videos{
    display: flex;
    margin-top: -30px;
    margin-left: 5px;
    cursor: pointer;
    padding-left: 40px;
}
.history{
    border-radius: 15px;
    width: 230px;
}
.history:hover{
    background-color: #f1eeee;
}
.history i{
    font-size: 35px;
}
.history p{
    margin-top: 35px;
    margin-left: 50px;
    font-size: 22px;
}
.playlist{
    display: flex;
    margin-top: -30px;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 80px;
}
.playlist i{
    font-size: 35px;
    margin: 15px 0px 10px 20px;
    padding: 16px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.playlist:hover{
    width: 230px;
    background-color: #f1eeee;
}
.playlist p{
    margin-left:28px;
    margin-top: 37px;
    font-size: 22px;
}
.watch-later{
    display: flex;
    border-radius: 15px;
}
.watch-later i{
    font-size: 30px;
}
.watch-later p{
    margin-left:54px;
    margin-top: 32px;
    font-size: 22px;
}
.watch-later:hover{
    width: 230px;
    background-color: #f1eeee;
}
.liked-videos{
    display: flex;
    margin-top: -30px;
    border-radius: 15px;
}
.liked-videos p{
    margin-top: 35px;
    margin-left:50px;
    font-size: 22px;
}
.liked-videos i{
    font-size: 35px;
}
.liked-videos:hover{
    width: 230px;
    background-color: #f1eeee;
}
.hr1{
    width: 325px;
}
.hr2{
    margin-left: -8px;
    width: 340px;
}
.subscriptions{
    padding: 35px;
}
b{
    font-size: 25px;
}
.subscriptions img{
    height: 35px;
    border-radius: 50%;
}
.coding, .apna, .akshay, .harry, .devtown, .KK,.all, .trending, .shopping, .movies, .music, .live, .gaming, .news, .sports, .course, .fashion, .podcasts, .premium, .Music, .kids, .setting, .report, .help, .feedback{
    display: flex;
    margin-top: 20px;
}
.live img{
    margin-top: 9px;
}
.subscriptions p{
    font-size: 22px;
    margin-top: 10px;
    margin-left: 30px;
}
.all p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 39px;
}
.all i{
    font-size: 25px;
}
.explore, .More, .local{
    padding: 35px;
}
.explore i{
    font-size: 35px;
    color: #323030;
}
.explore img{
    height: 30px;
}
.explore p{
    font-size: 22px;
    margin-top: 10px;
    margin-left: 30px;
}
.fashion p{
    margin-left: 35px;
}
.premium, .kids i{
    font-size: 30px;
    color: red;
}
.play{
    font-size: 25px;
    margin-left: 3px;
    color: red;
}
.More p{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 34px;
    color: black;
}
.local i{
    font-size: 35px;
    color: #323030;
}
.local p{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 34px;
}
.text{
    padding: 35px 20px;
}
.text a{
    font-size: 22px;
    font-weight: 600;
    color: #595858;
    text-decoration: none;
    line-height: 1.5;
}
.para{
    font-size: 17px;
    margin: 30px 0px -15px;
    color: #9a9797;
}
.right-side button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #e3e2e2;
    border: none;
    margin-left: 13px;
}
.right-side .al{
    text-decoration: none;
    background-color: #080808;
    color: white;
}

.main-container{
    margin-top: 50px;
    margin-left: 30px;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 40px;
}
iframe{
    margin-bottom: -20px;
    border-radius: 15px;
}
.icon img{
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-top: 35px;
}
.icon{
    display: flex;
}
.icon b{
    font-size: 22px;
}
.icon p{
    color: #606060;
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.7;
}
.icon i{
    margin-top: 40px;
}

@media screen and (max-width: 640px) {
    .left-side{
        overflow: hidden;
    }
    .row {
        grid-template-columns: 1fr;
    }
    iframe{
        height: 350px;
        width: 100%;
    }
    .line i{
        margin-left: 0;
        margin-top: 5px;
        margin-right: -28px;
        font-size: 20px;
    }
    .logo{
        margin-top: -20px;
        margin-right: 20px;
        height: 100px;
    }
    #search-bar{
        font-size: 15px;
        margin: 10px 0px 10px;
        padding: 8px;
        width: 200px;
    }
    .search-btn{
        height: 35px;
        width: 50px;
        margin: 10px -2px;
    }
    .search-btn i{
        font-size: 20px;
        color: #878585;
    }
    .mic{
        margin: 10px 25px 10px 10px;
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    .video{
        height: 30px;
        width: 30px;
        margin-top: -27px;
        border-radius: 50%;
    }
    .video img{
        height: 25px;
    }
    .bell{
        font-size: 20px;
        margin: -27px 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 16px;
    }
    .header-side-3 .span img{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin: -15px 30px 15px 15px;
        cursor: pointer;
    }
    .right-side button{
        font-size: 12px;
        padding: 7px 12px;
        border-radius: 5px;
        margin-left: 5px;
    }
    .a{
        margin-top: -55px;
    }
    .main-container{
        margin-top: 40px;
        margin-left: 30px;
        width: 1000px;
        max-width:55%;
    }
    .icon b{
        font-size: 25px;
    }
    .icon p{
        font-size: 15px;
    }
    .icon img{
        height: 60px;
    }
    
}
